@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*Import - Montserrat & Patuoa One */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Patua One', cursive; */

* {
  box-sizing: border-box;
}


.wrapper {
  margin-bottom: -105px;
  position: relative;
  right: 0;
  background: white;
  transition: right 610ms;
}

.wsite-logo {
  display: inline-block;
  vertical-align: top;
  padding: 30px 0 20px;
}

#logo {
  padding: 10px;
  text-align: center;
  font-family: 'Patua One', cursive;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.1;
}

#title {
  color: black;
  display: block;
  max-width: 400px;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
}

body {
  background-color: #fef2c2;
  color: #302005;
  min-height: 100%;
  position: relative;
  height: auto !important;
  padding-bottom: 62px !important;
  width: 100%;
  /* background: #2b2b2b; */
  background: white;
  color: #666;
  font-family: lato;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8em;
  display: block;
}

address {
  color: darkgrey;
}

.feedback {
  width: 45%;
  float: left;
  min-height: 300px;
  text-align: center;
  padding: 2em;
  margin: 3em 2em;
  box-shadow: 0 20px 40px rgba(11 68 153 0.1);
}

a {
  transition: color 200ms ease-in;
  text-decoration: none;
  background: none;
}

ul {
  display: block;
}

h2 {
  text-decoration: underline;
}

/* nav bar */
.menu {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  border-top: 1px solid rgba(116, 116, 116, 0.15);
  border-bottom: 1px solid rgba(116, 116, 116, 0.15);
  text-align: center;
}

.menu .ul {
  list-style: none;
}

.manu li {
  display: inline-block;
  padding: 7px 0;
  margin-right: 40px;
}

.menu ul li a:hover, .menu ul li#active a {
  border-bottom: 3px solid #2b2b2b;
}

.menu ul a {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 650 !important;
  letter-spacing: 2px !important;
}

.menu a {
  color: #3b3b3b;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

img {
  width: 512px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border: 0.5px solid black;
  background-color: #eeffee;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 0.5px solid black;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}